body {
  background-image: url("../images/clouds-731260_1280.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
div.row.app {
  border: 2px solid #000000;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 5px;
  margin: 60px auto 0;
  padding: 15px;
  max-width: 700px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#description:first-letter {
  text-transform: capitalize;
}
.col.search {
  margin: 0 0 40px;
}
button.btn.btn-secondary.current-location {
  margin: 0 0 0 20px;
}
button.btn.btn-primary.fahrenheit,
button.btn.btn-primary.celsius {
  display: block;
  margin: 0 auto 80px;
}
.todays-forecast {
  background-color: #dee2e6;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: inset 0px 0px 10px 2px;
  font-family: "Yusei Magic", sans-serif;
  font-size: 1.4em;
  margin: 0 auto 40px;
  max-width: 500px;
  padding: 30px;
  text-align: center;
}
.city {
  font-size: 1.4em;
  font-weight: 700;
}
#description {
  font-size: 0.7em;
}
.todays-weather-icons {
  font-size: 1.4em;
}
.info {
  text-align: right;
}
.additional-info {
  font-size: 0.7em;
  text-align: left;
}
.todays-temp {
  font-size: 1.8em;
}
.units {
  text-align: center;
}
.units a {
  text-decoration: none;
}

.units a:hover {
  text-decoration: underline;
}
.five-day-forecast {
  background-color: #dee2e6;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: inset 0px 0px 10px 2px;
  margin: 10px 0 0;
  padding: 0px 10px 10px;
  text-align: center;
}
p.future-heading {
  font-size: 1.6em;
  font-weight: 600;
}
div#forecast.row {
  margin: 0 auto;
  text-align: center;
}
.daily {
  margin: 0 auto;
  padding: 0;
}
.forecast-elements {
  font-family: "Yusei Magic", sans-serif;
  font-size: 0.6em;
  margin: 0 auto;
  width: 60px;
}
daily-weather-icons {
  margin: 0;
  width: 10px;
}
.weather-icons {
  font-size: 2.4em;
}
.credit {
  margin: 25px auto;
  text-align: center;
}
.name {
  background-color: rgba(245, 245, 245, 0.6);
  font-weight: 700;
  padding: 5px;
  width: auto;
}
.footer {
  bottom: 0;
  text-align: right;
}
.photo-credit {
  background-color: rgba(245, 245, 245, 0.6);
  font-weight: 700;
}
